.image-button {
  border-radius: 0 !important;
  height: 100%;
  padding: 3px !important;
}

.image-button:hover {
  background-color: var(--button-hover) !important;
}

.image-button span {
  font-size: max(0.35rem, 11px);
  color: var(--white);
  font-family: lato, Lato, "Lato", "Barlow Condensed", sans-serif;
  font-weight: 500;
  padding: 0.2rem;
}

.image-button svg,
.image-button img {
  margin: 0 !important;
  width: max(0.5rem, 11px);
}
