:root {
  --currency-rate-app-width: 411px;
  --currency-rate-app-height: 731px;
  --demo-width: calc(
    max(var(--currency-rate-app-width), var(--currency-rate-app-height)) + 60px
  );
}
.project-container {
  display: flex;
}
.project-content {
  font-size: 0.6rem;
  width: calc(100% - var(--demo-width));
}
.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project-title-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.demo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: var(--demo-width);
}
.demo div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#currency-rate-app {
  border: none;
}
.vertical {
  height: var(--currency-rate-app-height);
  width: var(--currency-rate-app-width);
}
.horizontal {
  width: var(--currency-rate-app-height);
  height: var(--currency-rate-app-width);
}
.rotate-button svg {
  width: 24px;
  height: 24px;
  margin: 10px !important;
  color: var(--white);
}
#features {
  width: calc(100% + var(--demo-width));
}
@media (max-width: 1600px) {
  :root {
    --currency-rate-app-width: 337px;
    --currency-rate-app-height: 600px;
  }
}
@media (max-width: 1400px) {
  :root {
    --currency-rate-app-width: 326px;
    --currency-rate-app-height: 580px;
  }
}
@media (max-width: 1000px) {
  .demo {
    display: none;
  }
  .project-content,
  #features {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .project-content {
    font-size: 0.8rem;
  }
}