:root {
  --currency-rate-app-width: 411px;
  --currency-rate-app-height: 731px;
  --demo-width: calc(
    max(var(--currency-rate-app-width), var(--currency-rate-app-height)) + 60px
  );
}

.project-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
  display: flex;
}
.project-content {
  /* grid-area: 1 / 1 / 3 / 3; */
  font-size: 0.6rem;
  width: calc(100% - var(--demo-width));
}
.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.demo {
  /* grid-area: 1 / 2 / 2 / 3; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: var(--demo-width);
  height: calc(max(var(--currency-rate-app-width), var(--currency-rate-app-height)));
}
#currency-rate-app {
  border: none;
}
.vertical {
  height: var(--currency-rate-app-height);
  width: var(--currency-rate-app-width);
}
.horizontal {
  width: var(--currency-rate-app-height);
  height: var(--currency-rate-app-width);
}
.rotate-button svg {
  width: 24px;
  height: 24px;
  margin: 10px !important;
  color: var(--white);
}
