:root {
  --margin: calc((100vw - 1620px) / 2);
  --fontSize: 50px;
  --photoSize: 600px;
  --buttonWidth: 150px;
  --space: 100px;

  --white: #dddddd;
  --gold: #a6761b;
  --gray: #888888;
  --dark: #222831;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--fontSize);
}
body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
}
.margin {
  margin: 0 var(--margin);
}
.big-space {
  padding-bottom: var(--space);
}
.small-space {
  padding-bottom: calc(var(--space) / 2);
}
.tiny-space {
  padding-bottom: calc(var(--space) / 4);
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
}
h4 {
  font-size: 0.8rem;
  font-weight: 400;
}
.tiny-text {
  font-size: 0.45rem;
}
.header {
  font-size: 1.6rem;
}
.gold {
  color: var(--gold);
}
.bg-gold {
  background-color: var(--gold);
}
.gray {
  color: var(--gray) !important;
}
.button {
  font-size: 0.6rem !important;
  font-family: "Barlow Condensed", sans-serif !important;
  text-transform: none !important;
}
.outlined-button {
  font-size: 0.5rem !important;
  font-family: "Barlow Condensed", sans-serif !important;
  color: var(--white) !important;
  border: none !important;
  box-shadow: 0 0 0 1px var(--white) inset;
  width: var(--buttonWidth);
  display: none !important;
}
.outlined-button:hover {
  color: var(--gray) !important;
  box-shadow: 0 0 0 1px var(--gray) inset;
}
#photo {
  width: var(--photoSize);
  height: var(--photoSize);
  border-radius: 50%;
  object-fit: cover;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-right: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
ul {
  margin-left: 1rem;
}
@media (max-width: 1920px) {
  .margin {
    margin: 0 var(--margin);
  }
}
@media (max-width: 1600px) {
  :root {
    --fontSize: 45px;
    --margin: 100px;
  }
}
@media (max-width: 1500px) {
  :root {
    --photoSize: calc(100vw * 0.4);
  }
}
@media (max-width: 1400px) {
  :root {
    --fontSize: 40px;
    --margin: 75px;
  }
}
@media (max-width: 1200px) {
  :root {
    --fontSize: 35px;
    --margin: 50px;
  }
}
@media (max-width: 1000px) {
  :root {
    --fontSize: 30px;
    --margin: 25px;
    --space: 60px;
  }
  .outlined-button {
    display: block !important;
  }
}
@media (max-width: 800px) {
  :root {
    --fontSize: 30px;
    --space: 50px;
  }
}
@media (max-width: 700px) {
  :root {
    --fontSize: 25px;
  }
}
@media (max-width: 600px) {
  :root {
    --fontSize: 20px;
    --space: 40px;
  }
  h4 {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  :root {
    --fontSize: 17.5px;
    --space: 30px;
  }
}
@media (max-width: 400px) {
  :root {
    --fontSize: 15px;
  }
}
